@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #FBF8CC;
  --secondary-color: #03045E;
  --ternary-color: #F5EE84;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--primary-color);
}

.wrapper {
  margin: 0 4em 3em 4em;
}

